/* GLOBALS */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color:#f2eed6;
    margin:0 auto;
}

button{
    background-color:#DBE7B1;
    color: #920C0C;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    background-color:#920C0C;
    color: #DBE7B1;
    transform: scale(1.1);
}

button:active{
    background-color:#DBE7B1;
    color: #920C0C;
    transform: scale(1.2);
}

h2,
p{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;

}

/* STYLE TOP */
.container__top{
    border: 2px solid #121212;
    background-color:#FF6138;
    color: #121212;
    font-size: 1.3rem;
    min-width: 500px;
    padding-bottom: 5px;
    text-align:center;
    text-shadow: 1px 1px #dbe060;
}

/* STYLE BOTTOM */

.container__bottom{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

/* the todo items */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* style todo items */
ul li{
    border: 1px solid #121212;
    color: #0A0A0A;
    margin: 0;
    min-width: 500px;
    padding: 0 0 2px 0;
}

/* Variable colors on todo items */
ul li:nth-child(4n+1){
    background:#ffffa7;
}
ul li:nth-child(4n+2){
    background:#c4eda9;
}
ul li:nth-child(4n+3){
    background:#86c49a;
}
ul li:nth-child(4n+4){
    background:#00c6a5;
}

/* NOT IN USE ATM checkbox */
input[type="checkbox"] {
    margin: 5px 0 0 0;
    filter: invert(10%);
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }

/* NOT IN USE ATM */
input[type="checkbox"]:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* NOT IN USE ATM */
input[type="checkbox"]:checked{
    filter: invert(100%) hue-rotate(80deg) brightness(2);
}

/* NOT IN USE ATM */
.checked {
    color: #888;
    text-decoration: line-through;
  }
/* -----------------------------  */