/* GLOBALS */

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color:#f2eed6;
    margin:0 auto;
}

button{
    background-color:#DBE7B1;
    color: #920C0C;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    background-color:#920C0C;
    color: #DBE7B1;
    transform: scale(1.1);
}

button:active{
    background-color:#DBE7B1;
    color: #920C0C;
    transform: scale(1.2);
}

h2,
p{
    margin: 0;
    padding: 0;
}

.container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;

}

/* STYLE TOP */

.container__top{
    border: 2px solid #121212;
    background-color:#97a293;
    color: #121212;
    font-size: 1.3rem;
    min-width: 500px;
    padding-bottom: 5px;
    text-align:center;
    text-shadow: 1px 1px #dbe060;
}

/* STYLE BOTTOM */

.container__bottom{
    /* border: 2px solid #121212; */
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    text-align: center;
}

/* the todo items */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    background:#f2ab50;
    border: 1px solid #121212;
    color: #0A0A0A;
    margin: 0;
    min-width: 500px;
    padding: 0 0 2px 0;
}

/* every second todo item is another color */

ul li:nth-child(odd){
    background:#E6820F;
}

/* checkbox */

input[type="checkbox"] {
    margin: 5px 0 0 0;
    filter: invert(10%);
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }

  input[type="checkbox"]:hover{
    cursor: pointer;
    transform: scale(1.1);
}

input[type="checkbox"]:checked{
    filter: invert(100%) hue-rotate(80deg) brightness(2);
}

/* -----------------------------  */



/* When clicked on, add a background color and strike out text */
/* ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  } */
  
  /* Add a "checked" mark when clicked on */
  /* ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  } */